node_modules/
dist/
.env
service-account.json
*.log

# Android
android/.gradle/
android/build/
android/app/build/
android/app/release/
android/local.properties
android/.idea/
android/*.iml
android/.externalNativeBuild
android/*.apk
android/*.aab
android/*.jks
android/*.keystore
android/google-services.json
android/captures/
android/.cxx/
